<h1>{{ film.titre }}</h1>

<span>Ecrit par {{ film.realisateur }}</span>

<p>{{ film.synopsis }}</p>

<span>Date de sortie : {{ film.datedesortie }}</span>

<p><a href="{{ path('page_films') }}">Retour</a></p>