{# src\symfony_cinema\AdminBundle\Resources\views\Film\form.html.twig #}
{{ form_start(form) }}
{{ form_label(form.nom) }} {{ form_widget(form.nom) }}


{{ form_end(form) }}
<p><a href="{{ path('admin_film_liste') }}">Retour</a></p>


